
<h2 (click)="clickAway()">Keg List</h2>
<h2>Today is {{today | date}}<br> {{today | date:'shortTime'}}</h2>
<div class="heroes">
  <div *ngFor="let keg of kegs" [class.selected]="keg === selectedKeg">

    <span *ngIf="filter===false || keg[filterBy] < filterVal">
      <li>
    <span (click)="onSelect(keg)" class="badge">{{keg['name']}}
    </span>
    <button (click)="sell(keg, 16)" #{{keg.name}}>Pint</button>
    <button (click)="sell(keg,32)" #{{keg.name}}>Growler</button>
    <button (click)="sell(keg,64)" >Large Growler</button>
    <button (click)="editKeg()">Edit</button>
  </li>
  </span>
</div>




<div *ngIf="selectedKeg">
  <br>
  <ul>
  <div><li>name: {{selectedKeg.name}}</li></div>
  <div><li>amount: {{selectedKeg.amount}}</li></div>
  <div><li>price: {{selectedKeg.price}}</li></div>
  <div><li>abv: {{selectedKeg.abv}}</li></div>
  <div><li>ibu: {{selectedKeg.ibu}}</li></div>
</ul>
</div>
<!-- <div *ngIf="edit===true">
  <label>name:
    <input #name [(ngModel)] placeholder="name">
    <input #price [(ngModel)] placeholder="price">
    <input #abv [(ngModel)] placeholder="abv">
    <input #ibu [(ngModel)] placeholder="ibu">
  </label>
  <button (click) = "editSelectedKegs(name.value, price.value, abv.value, ibu.value)"#{{keg.name}}>Edit!</button>
</div> -->
<div *ngIf="edit===true">
  <form>
  <label>name:
    <input [(ngModel)] ="selectedkeg.name" placeholder="name">
    <input [(ngModel)] ="selectedkeg.price" placeholder="price">
    <input [(ngModel)] ="selectedkeg.abv" placeholder="abv">
    <input [(ngModel)] ="selectedkeg.ibu" placeholder="ibu">
  </label>
  <button (click) = "editSelectedKegs(name.value, price.value, abv.value, ibu.value)">Edit!</button>
</form>
</div>

<button (click)="addAKeg()">Add a keg</button>
<div *ngIf="addKeg===true">
  <label>name:
    <input #newName [ngModel] placeholder="name">
    <input #newPrice [ngModel] placeholder="price">
    <input #newAbv [ngModel] placeholder="abv">
    <input #newIbu [ngModel] placeholder="ibu">
  </label>
  <button (click) = "AddKegToKegs(newName.value, newPrice.value, newAbv.value, newIbu.value)">Add!</button>
</div>
<button (click) = "filterKeg(2, 'price')">Low Price kegs</button>
<button (click) = "filterKeg(2, 'abv')">Low ABV beer</button>
<button (click) = "kegSale(keg)">Put a beer on sale</button>
<button (click) = "allKegSale(keg)">Put all beers on sale</button>

</div>
